mat-sidenav-container {
    height: 100%;
}
mat-sidenav{
    background-color:white;
    width: 200px;
}
/* .header{
    background-color:#a040a0;
} */
.ham{
    color: white;
}

.container{
    margin: 10px;
}
h1{
    margin: 40px 10px 20px 10px;
    font-weight: 200;
}
.search {
  width: 98%;
  margin: 0 auto;
}
.example{
    padding-bottom:50px;
}
form.example input[type=text] {
      padding: 10px;
      float: left;
      background-color: transparent;
      border: 0px solid;
      border-bottom: 1px solid purple;
      width: 93%;
}
form.example button {
      padding: 4px;
      float: left;
      color:purple;
      background-color: transparent;
      border: 0px solid;
      cursor: pointer;
      border-bottom: 1px solid purple;
      width: 4%;
}
