.poke-contaner{
    align-items: center;
    overflow: auto;
    height: 50vh;
}

.pokemon-card{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px 40px 40px;
}

.pokemon-card .box{
	box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5);
	margin: 15px;
	padding: 10px;
	text-align: center;
    width: 140px;
    height: 140px;
    cursor: pointer;
}
.box:hover{
	opacity: 0.8;
}

.img-con{
    margin-top:15px;
}

h3{
    background-color:rgb(57, 57, 57);
    color: white;
    font-size: 15px;
    margin:-10px;
    margin-top:6px;
}
