<!-- <div class="poke-container" (scroll)="onScroll($event)"></div> -->
<!-- <cdk-virtual-scroll-viewport class="viewport" itemSize="120"> -->
    <div class="poke-container" >
        <div class="pokemon-card" *ngFor="let pokemon of pokemons | async">
            <mat-card color>
                <img [src]="pokemon.sprites.front_default" class="img-con" alt="pokemon" mat-card-image>
                <mat-card-content class="pokname">{{pokemon.name}}</mat-card-content>
            </mat-card>
        </div>
    </div>
<!-- </cdk-virtual-scroll-viewport> -->
<!-- </div> -->