/* :host {
  height: 100%;
} */
.poke-container{
    overflow: auto;
    /* display: flex;
    flex-wrap: wrap; */
    /* margin-left:20px;
    margin-right:20px; */
}

/* .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-wrap: wrap;
} */

/* .viewport {
    height: 400px;
} */
    
mat-card{
    box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5);
	margin: 10px;
	text-align: center;
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.img-con{ 
    max-width:100px;
    max-height:100px;
    margin: 0 auto;
    padding-top: 20px;
}

mat-card:hover{
	opacity: 0.8;
}

.pokname{
    background-color:rgb(57, 57, 57);
    color: white;
    /* margin:15px -15px 0 -15px; */
}
